.projects{
    align-items: center;
    /* border: 1px solid white; */
    color: #e0d9d9;
    line-height: 200%;

}

.cardimage{
    width:450px;
    height:250px;
    align-items: center;
    padding-right: 100px;
    text-align: center;
}
.cardtext{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--primaryFont);
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--primaryFont);
}
.card{
    border: 0.5px solid #e0d9d9;
    padding: 10px;
    height: 550px;
    width: 200px;
}